### KNN imputation

In [2]:
import pandas as pd
from sklearn.impute import KNNImputer

In [3]:
df=pd.read_csv('knn_imputation.csv',index_col=0)
df.head()

   Region    Fresh    Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0     3.0  12669.0  9656.0   7561.0   214.0            2674.0      1338.0
1     3.0   7057.0  9810.0   9568.0  1762.0            3293.0      1776.0
2     3.0   6353.0  8808.0      NaN  2405.0            3516.0      7844.0
3     3.0  13265.0  1196.0   4221.0  6404.0             507.0      1788.0
4     3.0  22615.0  5410.0   7198.0  3915.0            1777.0      5185.0

In [4]:
df.isna().sum()

Region               8
Fresh               13
Milk                15
Grocery              9
Frozen               8
Detergents_Paper    10
Delicassen          11
dtype: int64

In [5]:
X=df

In [6]:
imputer=KNNImputer(n_neighbors=3)
X=imputer.fit_transform(X)

In [7]:
pd.DataFrame(X,columns=df.columns).isna().sum()

Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64